/myInflctSet.pkl
/result_output.txt
/NoSyntax.txt
/Syntax12.txt
/Syntax14.txt
/Syntax15.txt
/Syntax2.txt
/Syntex13.txt
/brown_tagger_uniBiTri.pkl
/myBrown_tagger.pkl
/myBrown_wordTagModel.pkl
/myConfSet.pkl
