/myInflctSet.pkl
/result_output.txt
/NoSyntax.txt
/Syntax12.txt
/Syntax14.txt
/Syntax15.txt
/Syntax2.txt
/Syntex13.txt
/brown_tagger_uniBiTri.pkl
/myBrown_tagger.pkl
/myBrown_wordTagModel.pkl
/myConfSet.pkl
/result_compare.txt
/SyntaxDB30.txt
/discount_result_power_increse.txt
/SyntaxDB64.txt
/junior_words.txt
/senior_words.txt
/junior_words_fin.txt
/senior_words_fin.txt
/basic_words_list.txt
/SyntaxSQL_full.txt
/SyntaxSQL.txt
/SyntaxSQLSafe10.txt
/SyntaxSQLSafe3.txt
/SyntaxSQLtmp.txt
/SyntaxSQLtmp5.txt
/SyntaxSQLBasic.txt
/SyntaxSQLtmpSave.txt
/Syntax13.txt
/NoSyntaxSQL.txt
/NoSyntaxRt.txt
/SyntaxAllSQL_basicInflt.txt
/SyntaxAllSQL_rlwdConf.txt
/output.txt
/More_NoSyntaxAllSQL.txt
/More_SyntaxAllSQL_rlwdConf.txt
/More_SyntaxAllSQL_basicInflt.txt
/More_SyntaxAllSQL_inflt.txt
/More_SyntaxAllSQL_rlwd_bscInflt.txt
